<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889853594099-b2te49kpr0ltvmma3mt597jlj2rc94v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889853594099-b2te49kpr0ltvmma3mt597jlj2rc94v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDK6l873r6UMyE7hpNxgojRFFq8RSXzanQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889853594099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITI.Shoprenia</string>
	<key>PROJECT_ID</key>
	<string>shoprenia-74fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>shoprenia-74fbb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889853594099:ios:bc3d33f34b2885d234aa86</string>
</dict>
</plist>